<h1>Contact Us</h1>

<form action="/contact" method="get">
  <input type="text" name="member" value="<%= params[:member] %>" placeholder="Search member">
  <input type="submit">
</form>

<ol>

  <% @members.each do |member| %>
    <li><%= "#{member.capitalize}" %></li>
  <% end %>
</ol>

<a href="/">Back to home</a>
